<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="wrapper">
      <%== yield ()%>
      <footer>
        <ul>
          <li>Made at Penn</li>
          <li>By <a href='http://twitter.com/yefim323'>Geoff</a>, <a href='http://twitter.com/Ceasar_Bautista'>Ceasar</a>, and <a href=''>Kai</a><li>
        </ul>
      </footer>
    </div>
  </body>
</html>
