#wrapper {
  width: 960px;
  margin: 0 auto;
}
h1 small a {
  color: #999;
}
h1 small a:hover {
  text-decoration: none;
  color: #444;
}
footer {
  padding: 18px 0px;
  border-top: 1px solid #eee;
}
footer li {
  list-style: none;
  display: inline;
  border-right: 1px solid #e1e1e1;
  padding: 0 10px;
  color: #969696;
}
footer li:first-child {
  margin-left: 0px;
}
footer li:last-child {
  padding-right: 0;
  border-right: none;
}
footer a {
  color: #444;
}
footer a:hover {
  color: #111;
  text-decoration: none;
}

.actions {
  width: 100px;
}
